$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$filter_background : RGBA(0,0,0,0.6);
$modal_background : #eee;
$btn-userMenu-background : rgba(255,255,255,0.7);
$modal_background_preambule : rgba(0,0,0,0.8);
$bleu_preambule : RGB(16,76,153);
$border_left_preambule : none;

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

* {
  font-family: Open-Sans, sherif;
}


p,h1,h2,h3,h4,h5,h6,div,span,label {
  font-family: 'Open Sans', serif;
}

.navbar-nav {

  li:hover {
    a:hover {
      background: #eee;
      color: dodgerblue;
    }
  }
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(233,233,233);
}
ul.home_pictures {
  list-style: none;
  width: 100%;

  li {
    border: 1px solid grey;
    border-radius: 0.8em;
    margin-bottom: 2em;
    padding: 0.5em;
  }
}

.add_voile {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0.01;
  padding: 0.5em;
  color: #222;
  transition: all 0.6s;

  h5 {
    display: block;
    width: 100%;
    height: 50%;
    overflow: hidden;
    padding: 0 0.5em 0 0.5em;
    margin: auto 0 auto 0;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
   font-family: courgette normal;
  }
}

.add_voile:hover {
  background: RGBA(255,255,255, 0.9);
  animation: fadeOut;
  opacity: 1;
  //  width: 93.8%;
}


div.preambule_articles {
  list-style: none;
  height: 260px;
  width: 285px;
  margin: 5px;
  display: inline-block;
  margin-top: 0px;
  right: 0;
  margin-bottom: 72px;
  border-left: $border_left_preambule;

  img:hover {

  }

  view {
    border-radius: 0.8em;
    margin-bottom: 0em;
    padding: 0.5em;
  }

  view:nth-child(1n + 5) {
    margin-top: 1em;
  }

  h2 {
    font-size: 1em;
    color: white;
    margin: 0em;
    font-family: 'Varela Round', Verdana, Geneva, sans-serif;
    background: $bleu_preambule;
    font-weight: lighter;
    cursor: pointer;
    padding: 0.25em 1em 0.25em 0em;
    text-align: center;
    border-radius: 0.2em 0.2em 0 0;
  }

  h4 {
    font-size: 1em;
    color: #666;
    font-family: Open-Sans, sherif;
  }


  p {
    color: steelblue;
    font-family: Open-Sans, sherif;
    font-size: 1.2em;
  }

  div {
    .info_detail_preambule {

      padding-left: 1em;
      margin-top: 1.2em;
      padding-top: 5px;
      background: RGBa(0,0,0,0.7);
      bottom: 0;
      position: absolute;
      width: 100%;

      span {
        float: right;
        color: white;
        margin-right: 0.5em;
      }
    }

    h1 {
      margin: 0;
      font-size: 1.2em;
      color: $bleu_preambule;
      display: inline-block;
    }

    h4 {
      display: inline-block;
      margin: 0;
      color: grey;
      float: right;
    }
  }
}

div.view_author {
  list-style: none;
  width: 100%;

  h2 {
    font-family: Open-Sans, sherif;
  }

  div {
    h2.prop_author {
      background: #84c4c6;
      text-align: center;
      font-family: Trocchi;
      font-size: 1.4em;
      border: 2px solid steelblue;
      display: inline-block;
      width: 100%;
      margin: 0.5em 0 1em 0;
      border-radius: 0.8em;
    }

    h2.prop_author:hover {
      background: #a0d0e0;
      color: #444;

    }
  }

  .bio {
    display: inline-block;
    width: 100%;
    color: #0055aa;
    font-size: 1.3em;
    margin-bottom: 1em;
    border-bottom: 0.2em solid #0066bb;
  }

  p {
    font-family: Open-Sans, sherif;
    font-size: 1.1em;
  }

}

div.modal_ecrire {
  position: absolute;
  width: 80vw;
  margin-left: 10vw;
  height: 93vh;
  top: 10vh;
  background: $modal_background;
  z-index: 13;
  padding: 2em;
  overflow-y: scroll;

  h1 {
    color: white;
    font-size: 1.3em;
    font-family: Open-Sans, sherif;
  }
}

.modal_ecrire.ng-hide-remove {
  opacity: 1;
  display: block !important;
  transition: all 0.4s;
  animation-duration:0.4s;
  animation-fill-mode:both;
  animation-name: zoomIn;

}

.modal_ecrire.ng-hide-remove-active {
  opacity: 1;
}

.modal_ecrire.ng-hide-add {
  animation-duration:0.5s;
  animation-fill-mode:both;
  animation-name: zoomOut;
}

#modal_login {
  top: 65px;
  position: fixed;
  width: 60%;
  height: auto;
  min-height: 500px;
  z-index: 8;
  left: 20%;
  background: $modal_background;
  padding: 2em;
  color: #555;
  font-family: Open-Sans, sherif;
  border-radius: 15px;
  overflow-y: hidden;
}

.form-group {
  label {
    font-size: 1.3em;
    color: #444;
    font-family: Open-Sans, sherif;

    span {
      color: red;
    }
  }
}

div.filter_modal {
  background: $filter_background;
  height: 100%;
  width: 100%;
  z-index: 6;
  top: 0;
}

.display_modal {
  overflow: hidden;
  top: 20vh;
  position: fixed;
}

.display_modal.ng-hide-remove {
  opacity: 0;
  display: block !important;
  transition: all 1s;
  animation-duration:0.5s;
  animation-fill-mode:both;
  animation-name: lightSpeedIn;
}

.display_modal.ng-hide-remove-active {
  opacity: 1;
}

.display_modal.ng-hide-add {
  animation-duration:0.5s;
  animation-fill-mode:both;
  animation-name: lightSpeedOut;
}

p.more_infos {
  padding: 1em;
  text-align: right;
  color: cornflowerblue;
  cursor: pointer;
}

p.more_infos:hover {
  color: forestgreen;
}

.option_title select {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 1em 0 0 1em;
  height: 34px;
  -webkit-appearance: none;
  margin-left: 1em;
}

.option_title:focus select {
  border-radius: 0em;
}


div.listing_tags {
  clear: both;
}

.disabledScroll {
  overflow-y: hidden;
}

.content_preambule {
  text-align: justify;
  text-justify:auto;
  width: 80%;
  margin: auto;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid grey;
//  font-family: Open-Sans, sherif;
  font-size: 1.3em;
  clear: both;
  max-width: 640px;
  font-family: palatino, Georgia, serif;
}

.close_window {
  position: fixed;
  top: 55px;
  right: 12%;
  font-size: 2.6em;
  cursor: pointer;
  color: grey;
}

.body-locked {
  overflow: hidden;
}

.body-unlocked {
  overflow: scroll;
}


/*placed .open-modal at 400px so we can see page remains in same position on when modals opened*/
.open-modal{
  position: relative;
  top: 400px;
}

.modal-container {
  display: block;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $modal_background_preambule;
  z-index: 12;
  animation: zoomIn;
}

.blackLike {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 5px double white;
  background: #000000;
  color: white;
  font-size: 1.2em;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: 0.6s all;
  cursor: pointer;
}

.blackLike:hover {
  background: #aaa;
  color: #444;
}

.input_edit_preambule {
  margin-top: 45px;
  input {
    padding: 0.5em;
    height: 30px;
    border-radius: 4px;
    border: 1px solid grey;
  }

  textarea {
    padding: 0.5em;
    height: 30em;
    border-radius: 4px;
    border: 1px solid grey;
  }

}

.modal-container_typeWrite {
  display: block;
  overflow-y: scroll;
  position: fixed;
  top: 55px;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 12;
  animation: zoomIn;
}

div.form-group {
  div {
    border-top: 1px solid #bbb;
    h5 {
      background: white;
      padding: 0.25em;
    }
  }
}
.modal {
  margin-top: 49px;
  display: block;
  height: 90vh;
  .modal_content {
    background: #ffffff;
    position: absolute;
    width: 70vw;
    margin-left: 15vw;
    height: auto;
    max-height: 100vh;
    z-index: 7;
    padding: 1em;
    top: 51px;
    overflow: scroll;
    cursor: auto;
  }

  .modal_content:hover {

  }
}


.userMenu {
  position: absolute;
  z-index: 9;
  right: 2vw;
  height: 20vh;
  width: 30vw;
  background: RGBA(235,245,255, 0.9);
  border: 0px solid #eee;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.btn-logout {
  background-color: #d9534f;
  border-color: #d43f3a;
  width: 100%;
  color: #eee;
  border-radius: 0;
  height: 34%;
  text-align: left;
  text-shadow: 5px 5px 5px rgba(134, 47, 33, 1);
  font-size: 1.4em;

  span {
    float: right;
    font-size: 4vh;
    color: #aaa;
    opacity: 0.4;
  }
}

.btn-logout:hover {
  background-color: #e97352;
  color: #eee;

  span {
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
    opacity: 0.7;
    color: black;
  }
}

.btn-publish {
  background-color: $btn-userMenu-background;
  width: 100%;
  color: #333;
  border-radius: 0;
  height: 33%;
  text-align: left;
  font-size: 1.4em;

  span {
    float: right;
    font-size: 4vh;
    color: #aaa;
    opacity: 0.4;
  }
}

.btn-publish:hover {
  background-color: #4a4;
  color: #eee;

  span {
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
    opacity: 0.7;
    color: black;
  }
}

.btn-setting {
  background-color: $btn-userMenu-background;
  width: 100%;
  color: #333;
  border-radius: 0;
  height: 33%;
  text-align: left;
  font-size: 1.4em;

  span {
    float: right;
    font-size: 4vh;
    color: #aaa;
    opacity: 0.4;
  }
}

.btn-setting:hover {
  background-color: #5185f1;
  color: #eee;

  span {
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
    opacity: 0.7;
    color: black;
  }
}

.button_addTag {
  display: inline-block;
  border-radius: 0 0em 0em 0;
  color: white;
  vertical-align: top;

  input {
    height: 2.4em;
    outline: none;
    border: 2px inset #999;
    border-right-color: transparent;
    padding-left: 0.5em;
    color: #000000;
  }

  input:focus {
    outline: none;
    border: 2px outset #999;
    border-right-color: transparent;
  }


  span {
    vertical-align: top;
    margin-left: -1em;
    background: RGB(16, 76, 153);
    height: 2.4em;
    color: white;
    display: inline-block;
    margin: 0em;
    cursor: pointer;
    border-radius: 0 0.5em 0.5em 0;
    padding: 0.25em;
  }

  span:hover {
    background: #84c5fd;
  }
}

.edit_profile {
  background: white;
  height: auto;
  border-radius: 0.5em;
  border: 1px solid #999;
  padding: 2em;
  padding-bottom: 5em;

  .label {
    width: 30%;
    display: inline-block;
    color: #666;
    text-align: left;
  }

  .edit_value {
    width: 69%;
    display: inline-block;
    vertical-align: top;

    input[text] {
      background: #ddd;
    }

    textarea {
      width: 80%;
      height: 15em;
    }

    select {
      height: 25px;
      margin-top: 5px;
    }
  }
}

.modal_window_close {
  position: fixed;
  height: 100vh;
  width: 99vw;
  cursor: pointer;
  background: RGBA(0,0,0,0.5);
  z-index: 7;
  top:0;
}

.selectpicker {
  height: auto;
  width: 150px;
  vertical-align: top;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menu_nav_links {
  margin-left: 0px;
  li {

    a {
      padding: 13px 12px 12px 12px;
      font-size: 1.1em;
      text-align: center;
    }

    width: 150px;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
  }

  li.actived_link {
    border-bottom: 4px solid $bleu_preambule;
    box-sizing: border-box;
  }

}

.navbar-header > .navbar-toggle {
  border: none;
  margin-top: 0;
  padding: 0 0 0 20px;
  margin-bottom: 0;

  .menu_nav_links_short {
    margin-left: 0px;
    margin-bottom: 0;
    li {
      display: inline-block;
      a {
        padding: 7px 12px 8px 12px;

      }

      width: 50px;
      box-sizing: border-box;
      border-bottom: 4px solid transparent;
    }

    li.actived_link {
      background: none;
      border-bottom: 4px solid $bleu_preambule;
      box-sizing: border-box;
    }

    .button_right {
      background: none;
      float: right;
      transition: all 0.6s;

    }

    .button_right:hover {
      background: lightsteelblue;
    }
  }

  #shortMenu {
    height: 0px;
    display: block;
    overflow: hidden;
  }

  .menu_nav_links_short:hover {
    background: none !important;
  }
}

.navbar-header > .navbar-toggle:hover {
  background: none;
}

.icone_navbar {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  transition: 0.3s linear all;

}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;

}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
  //  transform: rotateX(120deg);
}


.report_modal {
  position: absolute;
  background: white;
  top: 10vh;
  z-index: 1051;
  padding: 0.5em;
  border-radius: 2em;

  h1 {
    margin: 50px 0 50px 0;
    text-align: center;
  }

  textarea {
    width: 80%;
    margin-left: 10%;
    min-height: 200px;
  }
}

.parchemin_top {
  background-size: cover;
  background-clip: padding-box;
  background-position: center;
}

._51mw {
  background: red;
}

.writePreambule_button {
  cursor: pointer;
  padding: 0;
  border: 1px solid #ddd;
  margin-top: 7px;
  background: RGB(16,76,153);
  border-radius: 0.5em;
}

.writePreambule_button:hover {
  background: RGB(16,76,200) !important;
}

.twitter-share-button {
  height: 200px;
}

.zone_bottom_preambule {
  background: white;
  padding: 0.5em;
  border-radius: 0 0 0.2em 0.2em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-bottom: 40px;
}

.panel_command_display {
  font-size: 2.5em;
  margin: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 30%;
  z-index: 8;

  span {
    font-size: 0.4em;
    float: left;
  }
}

.panel_command_display:hover {
  color: #fc0;
}



/////////////// SLIDER ///////////////////////
.animate-switch-container {
  position:relative;
  //  background:white;
  border: none;
  border-radius: 15px;
  overflow:hidden;
  height: 70vh;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-enter {
  left: 100%;
}

.animate-switch.ng-leave.ng-leave-active {
  left: -150%;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  left: 0;
}
/////////////// END SLIDER ///////////////////////

.onglet_creation {
  background: #ffffff;
  border: 2px outset;
  padding: 0.1em 1em 0.1em 1em;
  cursor: pointer;
  margin-left: -10px;
}

.onglet_creation_active {
  background: #333;
  color: white;
  border: 2px inset;
  padding: 0.1em 1em 0.1em 1em;
  cursor: pointer;
  margin-left: -10px;
}

.tabset_editProfile {
  cursor: pointer;
  padding: 0.5em;
  display: table;
  margin-left: auto;
  margin-right: auto;

  button {
    text-align: center;
    border: 1px inset grey;
    border: none;
    color: white;
    background: none;
    margin-left: 4px;
    position: relative;
  }

  button.btn-warning {
    background: #fc971f;
  }

  button.btn-warning:hover {
    background: #cc771f;
  }

  button.btn-danger {
    background: #ac2925;
  }

  button.btn-danger:hover {
    background: #aa1111;
  }



  button.btn-success {
    background: #5cb85c;
  }

  button.btn-success:hover {
    background: #438643;
  }

  button:focus {
    outline: 0;
  }

  .select_menu_active {
//    border-top: 1px outset grey;
//    border-bottom: none;
//    background: white;
    zoom: 110%;
    color: rgb(32, 120, 180);;
  }
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
  font-size: 4em;
  color: #444;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.choose_author {
  text-align: center;
  border: 2px solid transparent;
  padding: 10px;
  cursor: pointer;
  background: #ffffff;
}

.choose_author:hover {
  color: #666;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.choose_author_active {
  border: 2px solid #555;
}

.glyphicon-chevron-right:before {
  float: right;
}

.bibli_arrow {
 position: absolute;
  font-size: 2.5em;
  top: 40%;
  cursor: pointer;

}

.lib_arrow {
  background: #222222;
  color: #88f;
  cursor: pointer;
}

.listing_container {
  background: #ffffff;
  padding: 30px;
  position: relative;

  .lib_slider {
    width: 100%;
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 250px;
    position: relative;

    li {
      height: 100%;
      width: 25%;
      position: absolute;
      display: inline-block;
      transition: all 1s;

      a {
        color: #333;

        .informations_details {
          height: 100%;
          margin-top: 0px;
          width: 100%;
          z-index: 22;
          position: absolute;
          top: 0;
          padding: 5px;
          background: rgba(255,255,255,0.5);
          visibility: hidden;
        }
      }
    }

    li:hover {
      h5 {
        display: none;
      }
      .informations_details {
        visibility: visible;
      }
    }
  }

  .glyphicon-chevron-left, .glyphicon-chevron-right {
    position: absolute;
    z-index: 10;
    top: 40%;
    font-size: 35px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 3px;
    background: rgba(0,0,0,0.1);
    transition: all 1s;
  }

  .glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
    background: rgba(255,255,255, 0.5);
    color: #777;
  }
}

.book_reader {
  list-style: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  height: 80vh;

  li {
    position: absolute;
    transition: all 1s;
    width: 100%;

    .contentRead {
      box-sizing: border-box;
      color: rgb(51, 51, 51);
      display: block;
      font-family: 'Open Sans', serif;
      font-size: 18.18181800842285px;
      height: 1756.3636474609375px;
      line-height: 23.636363983154297px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      text-align: justify;
      white-space: pre-line;
      width: 640px;
    }
  }
}
