

<div ng-controller="NavbarCtrl">

  <div class="animated" ng-class="{fadeInFast : display_modal, fadeOutFast: !display_modal}"
       ng-click="display_modal = false; display_login = false; modal_write_preambule=false;">
  </div>

  <div class="modal-container_typeWrite" ng-show="modal_write_preambule"
       ng-click="show_preambule=false; display_modal = false;">
    <div ng-click="closeWriting()" class="modal_window_close" style="background: none;"></div>


    <div class="modal col-md-12 col-lg-12 col-xs-12"
         ng-show="modal_write_preambule"
         style="background: #eef;" >
      <div>


    <span class="glyphicon glyphicon-remove close_window"
          ng-click="closeWriting()"></span>
        <form class="form-horizontal"
              enctype='multipart/form-data'
              ng-upload
              ng-submit="preambuleSave(newPreambule);">
          <fieldset>
            <!-- Form Name -->
            <!--<legend style="width: 95%;">-->
            <!--<span ng-class="{onglet_creation : write_type==='author',-->
            <!--onglet_creation_active : write_type==='normal'}"-->
            <!--ng-click="write_type='normal'">Ajout d'un nouveau préambule</span>-->
            <!--<span ng-class="{onglet_creation : write_type==='normal',-->
            <!--onglet_creation_active : write_type==='author'}"-->
            <!--ng-click="write_type='author'">Ecrire pour un auteur</span>-->
            <!--</legend>-->

            <div style="margin-top: 30px;" ng-init="picked_author=4">
              <!-- Text input-->
              <div ng-repeat="auteur in liste_auteurs" class="col-xs-3 choose_author"
                  ng-click="select_author_writting($index)" ng-class="{choose_author_active : picked_author==$index}">
                <h3 style="display: inline-block; text-align: center;">{{auteur.nom}}</h3>
                <img style="border-radius: 10px;" class="img img-responsive"
                     src="http://lorempixel.com/400/200/people/{{$index}}"/>
              </div>
              <div class="col-xs-3 choose_author" ng-click="select_author_writting(4)"
                   ng-class="{choose_author_active : picked_author==4}"
                  style="margin-left: 38%;">
                <h3 style="display: inline-block; text-align: center;">Libre préambule</h3>
                <img style="border-radius: 10px; width: 50%; margin-left: auto; margin-right: auto;" class="img img-responsive"
                     src="images/navbar/go_simple.png"/>
              </div>

              <!--<h3 style="float: right; background: lightsteelblue; padding: 10px;-->
              <!--border-radius: 10px; margin: 10px;">{{result_picked}}</h3> -->

            <div class="form-group" style="clear: both;">
              <div class="col-md-4 col-md-offset-2" style="margin-top: 30px;">
                <h5>Titre du préambule</h5>
                <input ng-model="newPreambule.titre"
                       id="titre" name="titre" type="text"
                       placeholder="Titre du préambule" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <div class="col-md-4 col-md-offset-2">
                <h5>Description du préambule</h5>
                <textarea placeholder="Courte description" ng-model="newPreambule.description"
                          class="form-control" id="content" name="content"
                          ng-change="charaRemaining = 400 - newPreambule.description.length;"
                          style="height: 6em;" maxlength="400" ng-init="charaRemaining = 400;"></textarea>
                <span class="help-block" style="display: inline-block; margin-bottom: 0;">facultatif</span>
                <span style="margin-left: 1em; margin-bottom: 0;"><b>{{charaRemaining}}</b> caractères restants</span>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <div class="col-md-8 col-md-offset-2">
                <h5>Préambule</h5>
                <textarea placeholder="Preambule de {{newPreambule.auteur.name}}" ng-model="newPreambule.content"
                          class="form-control" style="height: 400px; overflow-y: scroll;"
                          id="content" name="content"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-8 col-md-offset-2">
                <div style="display: none;">
                <p style="margin-bottom: 0.5em;">Selectionnez l'image de votre Préambule</p>
                <input accept="image/jpeg"
                       style="margin-bottom: 1.5em;" onchange="angular.element(this).scope().upload_image()" type="file" id="files">
                <input style="margin-bottom: 1.5em;" type="file" ng-file-select="onFileSelect($files)">
                <img class="col-md-3" id="preview" src="images/navbar/image-add.png" alt=""
                     style="background: lightsteelblue;"/>
                </div>

  <div>
    <div>Selectionner une image: <input type="file" id="fileInput" /></div>
    <div class="cropArea">
      <img-crop id="avatar_url2" area-type="square" result-image-quality=1 image="myImage" result-image="myCroppedImage"></img-crop>
    </div>
    <div>Image du preambule:</div>
    <div><img ng-src="{{myCroppedImage}}" id="fileOutput"/></div>
  </div>

              </div>
              <input type="hidden" id="avatar_url" name="avatar_url" value="images/navbar/image-add.png" />
              <!--<h4 id="new_upload_status"></h4>-->
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <h5>Tags</h5>

                <input class="col-md-8" ng-model="searchTag" type="text"
                       placeholder="Tags" class="form-control input-md"
                       style="height: 2em;" id="tagLoad">
            <span style="background: white; padding: 0; height: 2em;
            border-radius: 0 0.5em 0.5em 0; border-left: none;
            vertical-align: top; padding-left: 0.5em;"
                  class="col-md-4 btn btn-default"
                  ng-click="legalPushTag(searchTag); searchTag='';">
              Ajouter</span>


                <div class="listing_tags">
                  <div class="btn btn-default"
                       style="margin-left: 1em; margin-top: 1em"
                       ng-repeat="tag in newPreambule.tags track by $index"
                       ng-click="removeTag($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                    {{tag}}
                  </div>
                </div>
              </div>
            </div>


              <div class="form-group">
            <div class="col-md-6 col-md-offset-2" style="padding: 4px; height: 75px; border: none;">
              <h5>Catégorie</h5>

              <select class="form-control" id="sel1"
                      ng-model="newPreambule.categorie[0]"
                      ng-options="item as item.name for item in items">
              </select>
            </div>

            <div class="col-md-6 col-md-offset-2" style="padding: 4px; height: 75px; border: none;">
              <select class="form-control" id="sel1"
                      ng-model="newPreambule.categorie[1]"
                      ng-options="item as item.name for item in items">
              </select>
            </div>
              </div>


            <div class="col-md-6 col-md-offset-2">
              <button class="btn btn-primary" id="button_publish"
                      style="padding: 1em; font-size: 1.3em; margin: 20px 0 100px 0; clear: both;"
                      disabled>
                Publier!
              </button>
            </div>
      </div>
      </fieldset>
      </form>
    </div>

  </div>
</div>


<div class="navbar navbar-default navbar-fixed-top parchemin_top"
     style="z-index: 4; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-bottom: 1px solid #aaa; position: fixed; top: 0;
      background: white;">
  <div class="container" style="padding: 0;">
    <div class="navbar-header" style="">

      <!--SHORT NAVBAR-->
      <div class="navbar-toggle" style="float: none;">
        <ul class="nav navbar-nav menu_nav_links_short" style="">
          <li ng-class="{actived_link : current_link=='/'}"><a href="/" target="_self">
            <img src="images/navbar/book.png" class="icone_navbar">
          </a></li>
          <!--<li><a href="auteurs" target="_self">Auteurs</a></li>-->
          <!--<li><a href="preambules">Les préambules</a></li>-->
          <!--<li><a href="ecrire">Ecrire</a></li>-->
          <li ng-class="{actived_link : current_link=='/bibliotheque'}">
            <a href="bibliotheque" target="_self">
              <img src="images/navbar/multiples_books.png" class="icone_navbar">
            </a></li>

          <a class="navbar-brand" href="#" target="_self"
             style="padding: 0.2em; left: 47%; position: absolute;">
            <img src="images/navbar/go_simple.png" style="height: 80%; width: 40px;">
          </a>

          <button style="margin: 4px 30px 0 0;"
                  type="button" class="navbar-toggle button_right"
                  ng-click="showShortMenu()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
        </ul>

        <div class="collapse navbar-collapse" id="shortMenu">
          <ul class="nav navbar-nav">
            <!--MODE NO CONNECTED-->
            <li style="cursor: pointer;"
                ng-hide="currentUser">
              <a  ng-click="openLogin()">
                se connecter</a>
            </li>

            <!--MODE CONNECTED-->
            <li ng-show="currentUser"><a href="/seeProfil/{{currentUser.id}}">
              Consulter mon profil</a>
            </li>
            <li ng-show="currentUser"><a href="/profil">Modifier profil</a></li>
            <li><a ng-show="currentUser" ng-click="logout();">Deconnexion</a></li>

            <li><a href="/infos/apropos">À propos</a></li>
            <li><a href="/infos/contact">Nous contacter</a></li>
            <li><a href="/infos/aide">Aide</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav menu_nav_links" style="">
        <li ng-class="{actived_link : current_link=='/'}"><a href="/" target="_self">
          <img src="images/navbar/book.png" class="icone_navbar">
          Préambules
        </a></li>
        <!--<li><a href="auteurs" target="_self">Auteurs</a></li>-->
        <!--<li><a href="preambules">Les préambules</a></li>-->
        <!--<li><a href="ecrire">Ecrire</a></li>-->
        <li ng-class="{actived_link : current_link=='/bibliotheque'}">
          <a href="bibliotheque" target="_self">
            <img src="images/navbar/multiples_books.png" class="icone_navbar">
            Bibliothèque
          </a></li>
      </ul>


      <a class="navbar-brand" href="#" target="_self"
         style="padding: 0.2em; left: 45%; position: absolute;">
        <img src="images/navbar/logo.png" style="height: 100%; width: 140px;">
      </a>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">

        <li style="cursor: pointer;"
            ng-hide="currentUser">
          <a  ng-click="openLogin()">
            se connecter</a>
        </li>


        <li style="cursor: pointer; height: 49px; padding-top: 0px; margin-right: 5px;"
            class="dropdown" ng-show="currentUser">
          <a href="/seeProfil/{{currentUser.id}}" style="display: inline-block; padding: 0; margin-top: 6px;">
          <img src="{{currentUser.image_user}}"
               style="width: 30px; height: 30px; border-radius: 1em; padding-top: 4px;">
          </a>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="
          padding: 10px; display: inline-block; height: 49px; margin-top: 0px;">
            <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/seeProfil/{{currentUser.id}}"><h4 style="margin-left: 20px;"><b>{{currentUser.author_name}}</b></h4></a></li>
            <hr style="margin: 2px;">
            <li><a href="/profil">Modifier profil</a></li>
            <li><a ng-click="logout();">Deconnexion</a></li>
          </ul>
        </li>

        <!--RIGHT NAV BAR LONG SCREEN-->
        <li class="writePreambule_button" ng-click="write_newPreambule()"
            ng-show="currentUser"
            style="">
          <img style="width: 3em; height: 35px; padding: 0.25em;"
               src="images/navbar/go_simple.png">
          <div style="display: inline-block;
          height: 35px; vertical-align: top; margin-left: -0.25em; padding-top: 0.5em;
          padding-right: 1em;">
            <span style="width: 100%; color: white; background: RGB(16,76,153);">
              Publier un préambule
            </span>
          </div>
        </li>

        <!--RIGHT NAV BAR SHORT SCREEN NO CONNECTED-->
        <li ng-click="display_login = true; display_modal = true;"
            ng-show="!currentUser"
            style=""
            class="writePreambule_button">
          <img style="width: 3em; height: 34px; padding: 0.25em;"
               src="images/navbar/go_simple.png">
          <div style="display: inline-block;
          height: 35px; vertical-align: top; margin-left: -0.25em; padding-top: 0.5em;
          padding-right: 1em;">
            <span style="width: 100%; color: white; background: RGB(16,76,153);">
              Publier un préambule
            </span>
          </div>
        </li>


        <!--<li style="margin-right: 0.5em;">-->
        <!--<a href="#about">à propos</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>

<div ng-click="closeLogin()" class="modal_window_close" ng-show="display_login"></div>

<div class="modal-container display_modal" ng-show="display_login" id="modal_login">
  <h1>Connexion</h1>
  <div ng-include="'partials/login'"></div>
</div>
</div>


<style>
  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
  }

</style>


