<div ng-include="'partials/navbar.html'"></div>

  <div style="height: 100vh; width: 100vw; background: RGBA(255,255,255,0.8);
  z-index: 10; position: absolute;" ng-show="check_picture" id="DDDQ">
    <div style="background: #eee; border-radius: 10px; position: absolute;
    top: 40%; height: 120px; max-width: 600px; width: 300px; margin-left: auto;
    margin-right: auto; left: 0; right: 0; padding: 5px 15px 15px 5px;" id="container_checker">
      <h4>Oups ! tu n'as pas choisi de photo, veux-tu continuer quand même ?</h4>
      <button class="btn btn-primary" id="ok_checkPicture">OUI</button>
      <button class="btn btn-primary" id="wrong_checkPicture">NON</button>
    </div>
  </div>



<div class="container" style="margin-top: 50px; height: 90vh; overflow-y: scroll; background: white;
border-radius: 0 0 10px 10px;">
  <div class="col-sm-12">
    <h1>Sign up</h1>
  </div>
  <div class="col-sm-12 col-md-6">
    <form class="form" name="form" ng-submit="register(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Nom d'auteur</label>
        <input type="text" name="name" class="form-control" ng-model="user.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Nom complet</label>
        <input type="text" name="realName" class="form-control" ng-model="user.author_name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                          'has-error': form.email.$invalid && submitted }">
        <label>Email</label>

        <input type="email" name="email" class="form-control" ng-model="user.email"
               required
               mongoose-error/>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.required && submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
        <label>Password</label>

        <input type="password" name="password" class="form-control" ng-model="user.password"
               ng-minlength="3"
               required
               mongoose-error/>
        <p class="help-block"
           ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div>

      <select style="margin-bottom: 10px; height: 34px; " class="col-xs-12">
        <option ng-repeat="country in allCountry">{{country}}</option>
      </select>


      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
        <label>Date de naissance</label> <br>

        <select ng-model="user.birth.day" ng-options="color for color in choose_birth_day">
        </select>
        <select ng-model="user.birth.month" ng-options="color for color in choose_birth_month">
        </select>
        <select ng-model="user.birth.year" ng-options="color for color in choose_birth_year">
        </select>

        <input type="checkbox" name="option3" value="Cheese"> Ne pas montrer sur le profil<br>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
        <label>Sexe</label> <br>
        <input type="radio" ng-model="user.sex" value="homme"> Homme
        <input type="radio" ng-model="user.sex" value="femme" style="margin-left: 1em;"> Femme
        <p ng-show="error_sex_choose" style="color: #a00">Choisissez votre civilite</p>
      </div>

      <div class="form-group">
        <div>
          <p style="margin-bottom: 0.5em;">Selectionnez votre photo de profil</p>
          <input accept="image/jpeg"
                 style="margin-bottom: 1.5em;"
                 onchange="angular.element(this).scope().upload_image_account()" type="file"
                 id="files_account">
          <!--<input style="margin-bottom: 1.5em;" type="file" ng-file-select="onFileSelect($files)">-->
          <img class="col-md-3" id="preview_account"
               src="images/general_small_elements/anonymous.png" alt=""
               style="background: lightsteelblue;"/>
        </div>
        <input type="hidden" id="avatar_url_account"
               name="avatar_url_account" value="images/general_small_elements/anonymous.png"
            />
        <!--<h4 id="new_upload_status"></h4>-->
      </div>

      <br><br><br><br><br><br>

      <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
  </div>

  <div class="col-md-5 col-md-offset-1">
  <body>
  <script>

  </script>

  <!--
    Below we include the Login Button social plugin. This button uses
    the JavaScript SDK to present a graphical  button that triggers
    the FB.login() function when clicked.
  -->

  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    Inscription via Facebook
  </fb:login-button>

  <div id="status">
  </div>

  </body>


  </body>
</div>

  <div class="col-sm-12">
    <hr>
    Deja un compte ? <a style="font-family: Open-Sans, sherif; "
                        href="/login" class="text-center new-account">Connection</a>
  </div>

</div>




