<div class="container" style="margin-top: 20px;">
  <div style="margin-top: 30px;">
    <h1>
      <a style="color: rgb(16, 76, 153); font-size: 0.7em;"
         href="/preambules_finished">Préambules terminés par nos aventuriers</a>
    </h1>
  </div>

  <div class="listing_container" ng-init="lib_index = 0;">
    <span ng-click="slide_action('left')" class="glyphicon glyphicon-chevron-left"
          style="left: -15px;"></span>
          <span ng-click="slide_action('right')" class="glyphicon glyphicon-chevron-right"
                style="right: -15px;"></span>
    <ul class="lib_slider">

      <li ng-repeat="preambule in allLoadPreambules track by $index"
          style="left: {{base_width_slide*$index - lib_index}}px;" id="sliden_{{$index}}">
        <a href="seebook/{{preambule._id}}" target="_self">
          <div class="thumbnail img-responsive"
               style="background: URL('https://s3.amazonaws.com/preambule/users/{{preambule.photo}}');
                   background-size: cover;
                   margin-bottom: 0; height: 100%; width: 100%;">

          </div>
          <div class="informations_details">
            <h5 style="text-align: center;">{{preambule.titre}}</h5>
            <h4 style="text-align: center;">par {{preambule.auteur.name}}</h4>
            <div style="width: 97%; position: absolute; bottom: 0;">
          <span style="margin-left: 15px; left: 5px;">
            <span class="glyphicon glyphicon-eye-open"></span>
            {{preambule.lectureNb}}
          </span>
          <span style="float: right; margin-right: 15px;">
            <span style="" class="glyphicon glyphicon-thumbs-up"></span>
            {{preambule.votes_size}}
          </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>