<div class="container" style="margin-top: 100px;" ng-init="profil_select_menu='account'">
  <div class="tabset_editProfile" style="width: 100%;">
    <button ng-class="{select_menu_active : profil_select_menu=='account'}"
            ng-click="profil_select_menu='account'">
      <i class="glyphicon glyphicon-wrench"></i> Compte
    </button>

    <button ng-class="{select_menu_active : profil_select_menu=='preambules'}"
            ng-click="profil_select_menu='preambules'">
      <i class="glyphicon glyphicon-th-large"></i> Mes Preambules
    </button>

    <div ng-include="'pages/editPreambule'" ng-show="profil_select_menu == 'preambules'">
    </div>

    <div ng-show="profil_select_menu == 'account'" style="margin-top: 15px;">
      <form class="edit_profile">
        <h3>Modifier le profil</h3>
        <hr>

        <div class="label">
          <h4>Nom complet</h4>
        </div>
        <input type="text" ng-model="profil_user.name"> <br>

        <hr>

        <div class="label">
          <h4>Nom d'auteur</h4>
        </div>
        <input type="text" ng-model="profil_user.author_name">

        <hr>

        <div class="label">
          <h4>Image</h4>
        </div>
        <div class="edit_value">
          <input accept="image/jpeg"
                 style="margin-bottom: 1.5em;" onchange="angular.element(this).scope().onFileSelect_profil()"
                 type="file" id="files_user">
          <img class="col-md-3" id="preview_user" src="{{profil_user.image_user}}" alt=""
               style="background: lightsteelblue;"/>
        </div>

        <hr>


        <div class="label">
          <h4>À propos de vous</h4>
        </div>
        <div class="edit_value">
          <textarea ng-model="profil_user.aboutYou"></textarea>
        </div>

        <hr>

        <div class="label">
          <h4>Date de naissance</h4>
        </div>
        <div class="edit_value">
          <select ng-model="profil_user.birthday.day">
            <option ng-repeat="day in choose_birth_day" value="{{$index+1}}">{{day}}</option>
          </select>

          <select ng-model="profil_user.birthday.month">
            <option ng-repeat="month in choose_birth_month" value="{{$index+1}}">{{month}}</option>
          </select>

          <select ng-model="profil_user.birthday.year">
            <option ng-repeat="year in choose_birth_year" value="{{year}}">{{year}}</option>
          </select>
        </div>

        <hr>

        <div class="label">
          <h4>Civilité</h4>

        </div>
        <div class="edit_value">
          <input type="radio" ng-model="profil_user.gender" value="homme"> Homme
          <input type="radio" ng-model="profil_user.gender" value="femme" style="margin-left: 1em;"> Femme
        </div>

        <hr>

        <div class="label">
          <h4>Pays</h4>
        </div>
        <div class="edit_value">
          <select style="margin-bottom: 10px; height: 34px;" class="col-xs-4" ng-model="profil_user.country">
            <option ng-repeat="country in allCountry">{{country}}</option>
          </select>
        </div>

        <hr>

        <!--<hr>-->
        <!--<div class="label">-->
        <!--<h4>Ville</h4>-->
        <!--</div>-->
        <!--<div class="edit_value">-->
        <!--<input type="text" class="col-xs-8">-->
        <!--</div>-->

        <button class="btn btn-warning" style="float: left; border: 1px solid grey;"
                ng-click="changePasswordAction=true;">
          Modifier le mot de passe
        </button>

        <button class="btn btn-danger" style="float: left; border: 1px solid grey;"
                ng-click="open_modal_delete();">
          Effacer ce compte
        </button>
        <button class="btn btn-success" ng-click="save_edit_profil()"
                style="float: right; border: 1px solid grey;">Modifier son profil</button>
      </form>


    </div>
  </div>

</div>

<div style="height: 217%; width: 100vw; background: RGBA(0,0,0,0.5); position: absolute;
top: 0; z-index: 9;" ng-show="modal_profil_delete || changePasswordAction"
     ng-click="modal_profil_delete=false; changePasswordAction=false;">
</div>

<div ng-show="modal_profil_delete"
     style="position: fixed; top: 0; left: 35vw;
       width: 40vw; min-width: 550px; height: 40vh; min-height: 200px; background: white;
        margin: 10vh auto 0 auto; padding: 1em; z-index: 11;">
  <h2>Supprimer vraiment ce compte ?</h2>
  <input type="text" placeholder="mot de passe" ng-model="deleteAccount_mdp"> <br><br>
  <button class="btn btn-warning" ng-click="action_delete_account()">
    Confirmer la suppression du compte
  </button>
</div>

<div ng-show="changePasswordAction"
     style="position: fixed; top: 0; left: 50%;
       width: 40vw; min-width: 550px; height: 40vh; min-height: 600px;
         margin: 10vh auto 0 auto; padding: 1em; z-index: 11;">
  <div style=" padding: 2em; position: relative; left: -50%; background: white;" ng-include="'partials/settings'"></div>
</div>



