<div class="container-fluid" style="background: #333; padding-top: 75px;">
  <div style="width: 200px; height: 200px; background: URL('{{user_select.image_user}}');
   margin: 0px auto 20px auto; background-size: cover;">
  </div>
  <h3 style="text-align: center; color: #ccc; font-size: 2.8em;">
    {{user_select.author_name}} <br>
    <span style="font-size: 0.4em; font-style: italic;">{{user_select.birthday_old}}</span>
  </h3>


  <div class="tabset_editProfile" ng-init="profil_select_menu='all'" style="padding-top: 0;">

    <button ng-class="{select_menu_active : profil_select_menu=='all'}"
            ng-click="profil_select_menu='all'">
      <i class="glyphicon glyphicon-th-large"></i> Tout
    </button>

    <button ng-class="{select_menu_active : profil_select_menu=='account'}"
            ng-click="profil_select_menu='account'">
      <i class="glyphicon glyphicon-pencil"></i> Preambules
    </button>

    <button ng-class="{select_menu_active : profil_select_menu=='preambules'}"
            ng-click="profil_select_menu='preambules'">
      <i class="glyphicon glyphicon-th-large"></i> Suites de preambules
    </button>




  </div>
</div>


<div style="margin-top: 15px; border-radius: 0.5em;" class="container">

 <br>

  <div ng-repeat="preambule in preambules" style="clear: both; margin-top: 20px;"
       class="preambule_articles repeat-item"
       ng-class="{ovh : show_preambule}"
       ng-show="profil_select_menu == 'account' || profil_select_menu == 'all'">
    <h2 ng-click="display_preambule(preambule);">{{preambule.titre}}</h2>
    <div style="background: URL({{'https://s3.amazonaws.com/preambule/users/'+preambule.photo}});
  height: 100%; background-size: cover; background-position: center; position: relative;
  border: 1px solid grey;">
      <div class="animated add_voile"
           ng-click="display_preambule(preambule);">
        <h5 style="height: 75%;">
          {{preambule.description}}
        </h5>
        <!--<h5 style="display: inline-block; margin: 0; font-weight: bold;">TAG :</h5>-->
      </div>

      <div class="info_detail_preambule">
        <div class="" style="clear: both; margin: 0; color: #eee;
             display: inline-block;"
             ng-repeat="tag in preambule.tags track by $index">
          {{tag}}{{$last ? '' : ',&#32;'}}
        </div>
        <span style="" class="glyphicon glyphicon-thumbs-up"></span>
          <span style="padding-top: 0;">
            {{preambule.votes_size}}
          </span>

        <span style="" class="glyphicon glyphicon-eye-open"></span>
          <span style="padding-top: 0;">
            {{preambule.lectureNb}}
          </span>
      </div>
    </div>

    <div class="zone_bottom_preambule">
      <a href="/seeProfil/{{preambule.auteur._id}}">
        <h1>
          <img src="{{preambule.auteur.image_user}}"
               style="width: 30px; height: 30px; border-radius: 1em;">
          <b style="font-size: 0.9em;">{{preambule.auteur.name}}</b>
        </h1> </a>

      <h4 style="padding-top: 7px;">
        <i>{{preambule.date | plus1}}</i>
      </h4>
    </div>
  </div >

  <div ng-repeat="preambule in preambules_suite" style="clear: both; margin-top: 20px;"
       class="preambule_articles repeat-item"
       ng-class="{ovh : show_preambule}"
       ng-show="profil_select_menu == 'preambules' || profil_select_menu == 'all'">
    <a href="seebook/{{preambule._id}}" target="_self">
      <h2>{{preambule.titre}}</h2>
    </a>
    <div style="background: URL({{'https://s3.amazonaws.com/preambule/users/'+preambule.photo}});
  height: 100%; background-size: cover; background-position: center; position: relative;
  border: 1px solid grey;">
      <a href="seebook/{{preambule._id}}" target="_self">
        <div class="animated add_voile">
          <h5 style="height: 75%;">
            {{preambule.description}}
          </h5>
          <!--<h5 style="display: inline-block; margin: 0; font-weight: bold;">TAG :</h5>-->
        </div>
      </a>

      <div class="info_detail_preambule">
        <div class="" style="clear: both; margin: 0; color: #eee;
             display: inline-block;"
             ng-repeat="tag in preambule.tags track by $index">
          {{tag}}{{$last ? '' : ',&#32;'}}
        </div>
        <span style="" class="glyphicon glyphicon-thumbs-up"></span>
          <span style="padding-top: 0;">
            {{preambule.votes_size}}
          </span>

        <span style="" class="glyphicon glyphicon-eye-open"></span>
          <span style="padding-top: 0;">
            {{preambule.lectureNb}}
          </span>
      </div>
    </div>

    <div class="zone_bottom_preambule">
      <a href="/seeProfil/{{preambule.auteur._id}}">
        <h1>
          <img src="{{preambule.auteur.image_user}}"
               style="width: 30px; height: 30px; border-radius: 1em;">
          <b style="font-size: 0.9em;">{{preambule.auteur.name}}</b>
        </h1> </a>

      <h4 style="padding-top: 7px;">
        <i>{{preambule.date | plus1}}</i>
      </h4>
    </div>
  </div>
  <br>
</div>

<div class="modal-container body-locked" ng-show="show_preambule">
<div class="modal" style="overflow: hidden;">

  <div ng-click="close_preambule()" class="modal_window_close"></div>
  <div class="animated modal_content"
       ng-show="show_preambule">

    <div style="margin-bottom: 200px;">
      <span class="glyphicon glyphicon-remove close_window" ng-click="show_preambule=false;"></span>
      <p style="font-size: 2.2em; text-align: justify; font-weight: bold; font-family: Open-Sans, sherif;
   text-align: center; margin-top: 0.5em;">
        {{preambuleSelect.titre}}
      </p>

      <img class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"
           src="{{'https://s3.amazonaws.com/preambule/users/'+preambuleSelect.photo}}"
           style="margin-top: 2vh; margin-bottom: 7vh; ">

      <div class="content_preambule">
        <p style="white-space: pre-line; margin-top: 10px;">{{preambuleSelect.content}}</p>
      </div>
      <div style=" clear: both; margin-top: 1em; margin-right: 2em; margin-bottom: 1em;">
        <button class="btn btn-primary" style="margin-left: 45%;" ng-hide="EcrireSuite"
                ng-click="EcrireSuite=true;">Je veux ecrire la suite !</button>

        <button class="btn btn-primary" style="margin-left: 45%;" ng-show="EcrireSuite"
                ng-click="EcrireSuite=false;">Revenir evaluer</button>
        </span>
      </div>

      <div style="width: 80%; margin-left: 10%; color: #6495ed;" ng-hide="EcrireSuite">
        <span>{{preambuleSelect.votes.length}} votes</span>
        <div style="margin-top: 14px;">
          <button class="btn btn-success" style="float: left; "
                  ng-click="voteTry(preambuleSelect)">
            <span style="text-align:right; font-size: 1.3em; clear: both;" class="glyphicon glyphicon-thumbs-up"></span>
            <span style="text-align:right; margin-left: 1em; font-size: 1.3em;">
            J'aime
            </span>
          </button>

          <button class="btn btn-danger" style="float: left; margin-left: 0.5em; "
                  ng-click="isOpenReport=true">
              <span style="text-align:right; font-size: 1.3em; clear: both;"
                    class="glyphicon glyphicon-exclamation-sign"></span>
            <span style="text-align:right; margin-left: 1em; font-size: 1.3em;">
            Report
            </span>
          </button>

          <div style="float: left; margin-left: 1em;">
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
          </div>

          <br><br><br>
          <div>

          </div>


            <span style="color: #4682b4; font-family: Open-Sans, sherif; font-size: 1.1em;
            margin-left: 2em;">

              </span>
        </div>
      </div>
      <form ng-show="EcrireSuite" ng-submit="preambuleSuiteSave(newPreambuleSuite, preambuleSelect);">
        <textarea style="height: 30vh; width: 80%; margin-left: 10%;"
                  ng-model="newPreambuleSuite.contentSuite"></textarea>
        <br>
        <button class="btn btn-primary" style="margin-left: 10%;">Publier la suite</button>
      </form>
    </div>
  </div>
</div>
  </div>